@font-face {
    font-family: mn-mono;
    src: url('../fonts/MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MaisonNeue-Mono.woff') format('woff'),
         url('../fonts/MaisonNeue-Mono.ttf') format('truetype'),
         url('../fonts/MaisonNeue-Mono.svg#MaisonNeue-Mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000;
    color: #ebebeb;
    font: 16px mn-mono;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

a {
    color: #ebebeb;
    text-decoration: none;
}

.frame {
    position: absolute;
    top: 75px;
    left: 75px;
    right: 75px;
    bottom: 75px;

    border: 1px solid white;
    overflow: hidden;

}

footer {
    position: absolute;
    left: 75px;
    right: 75px;
    bottom: 0;
    height: 45px;
    padding-top: 30px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0;
}

li.menu-item:hover {
    border-bottom: 1px solid white;
}

img.logo {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    height: 33px;
    z-index: 100;
}

@media
    (max-width: 800px) and (orientation: portrait),
    (max-height: 600px) and (orientation: landscape)
{
    body {
        font-size: 80%;
    }

    .frame {
        top: 50px;
        left: 20px;
        right: 20px;
        bottom: 50px;
    }

    img.logo {
        top: 15px;
        height: 22px;
    }

    footer {
        left: 25px;
        right: 25px;
        height: 35px;
        padding-top: 25px;
    }

    .site-navigation {
        text-align: center;
    }

    .social-links {
        display: none;
    }
}

@media
    (max-width: 400px) and (orientation: portrait),
    (max-height: 400px) and (orientation: landscape)
{
    body {
        font-size: 80%;
    }

    .frame {
        border: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    img.logo {
        top: 15px;
        height: 22px;
    }

    footer {
        display: none;
    }
}

.infobox {
    /* position: absolute; top: 0; left: 0; width: 100%; height: 100%; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */

    position: absolute;
    left: 50%;
    top: 50%;
    -transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    /* background-color: red; */
}

.info {
    text-align: center;
    max-width: 300px;
    line-height: 1.5;
}

.arrows {
    font-family: sans-serif;
    font-size: 50px;
    margin: 8px 0;
}

button {
    background-color: rgba(0,0,0, 0.5);
    border: 1px solid white;
    font: 16px mn-mono;
    width: 303px;
    padding: 14px 0;
    color: #ebebeb;
    transition: all linear 200ms;
}

button.enter {
    margin-top: 50px;
}

button:hover {
    background-color: #ebebeb;
    color: black;
    cursor: pointer;
}

canvas.webgl {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    /*
    opacity: 1;
    transition: opacity 7s linear;
    */
}

.linkbox {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    display: none;
    opacity: 0;
    transition: opacity 3s linear;

    z-index: 100;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

button.close {
    position: absolute; top: 10px; left: 10px;
    width: 100px;
    border: 1px solid white;
    text-align: center;
}

.debug {
    position: absolute;
    top: 5px;
    left: 5px;
    color: red;
    font: 25px mn-mono;
}

.social-links {
    position: relative;
    top: -8px;
    float: right;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.social-links a {
    color: #777;
}

.social-links a:hover {
    color: #ebebeb;
}
